.web-logo{
    display:flex;
    width: 44px;
    height: 21px;
    flex-direction: column;
    justify-content: center;
    color: var(--IRIS, #4D5AE5);
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 21px; 
    letter-spacing: 0.54px;
    text-transform: uppercase;

}
.studio-logo{
    color: var(--NAVY-BLUE, #2E2F42);
font-family: Raleway;
font-size: 18px;
font-style: normal;
font-weight: 800;
line-height: 21px; /* 116.667% */
letter-spacing: 0.54px;
text-transform: uppercase;
}


.studio-logo1{
    display: flex;
    width: 71px;
    height: 21px;
    flex-direction: column;
    justify-content: center;
    display:inline-flex;

    color: var(--CLOUD, #F4F4FD);
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 21px; /* 116.667% */
    letter-spacing: 0.54px;
    text-transform: uppercase;
}
body{
    font-family:"Roboto"
}
.container{
    display:flex;
    margin: 0 auto;
    width:1158px;
    padding: 0 15px;
}
.logo web{
    display:flex;
    justify-content: space-between;
    text-color:var(--black);
}
.header-logo{
    color:var (--navy blue, #2e2f42);
    font-family:Raleway;
    font-size:18px;
    font-weight:800;
    line-height:21px;
    letter spacing:0.54px;
    texttransform:uppercase;
}
.logo{
    display:flex;
    text-align:left;
}
.features-list{
    display:inline-block;
    display:flex;
    color: var(--NAVY-BLUE, #2E2F42);
    justify-content:space-evenly;
    font-family: Roboto;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing:0.4px;
    width:264px;
}
.description1{

    color: var(--CLOUD, #F4F4FD);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
    width: 264px;
    align-items:left;
    justify-content:left;
}

.list{
    display:flex;
    gap:15px;
    justify-content:space-evenly;
    align-items:left;
    display:inline-flex;
}
.list1{
    display:flex;
    display:flex-end;
    margin-left:200px;
    gap:2px;
    justify-content: space-evenly;
    align-items:right;
   

}
.link-nav{
    display: flex;
    display:inline;
    justify-content:space-around;
}
.solution{
    color: var(--WHITE, #FFF);
    text-align: center;
    font-family: Roboto;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 1.12px;
    padding:200px 200px 50px;
    justify-content:center;
    display:flex;
}
.hero{
     
     background: var(--NAVY-BLUE, #2E2F42);
     width:1440px;
     height:600px;
     justify-content: center;
     flex-shrink: 0;
}
.text{
     color: var(--NAVY-BLUE, #2E2F42);
     text-align: center;
     font-family: Roboto;
     font-size: 36px;
     font-style: normal;
     font-weight: 700;
     line-height: 40px; /* 111.111% */
     letter-spacing: 0.72px;
     text-transform: capitalize
}
.image{
    display:flex;
    display: inline-flex;
    flex-direction:row;
    align-items: flex-start;
    gap:24px;
    
}
.img1{
    display:flex;
    display: inline-flex;
    flex-direction:row;
    align-items: flex-start;
   justify-content: center;
    gap:24px;
   
    
    width: 264px;
    height: 260px;
}
.img2{
    display:flex;
    display: inline-flex;
    flex-direction:row;
    align-items:center;
    gap:24px;
    justify-content:space-between
}
.bg-dark{
    display:flex;
    background: var(--NAVY-BLUE, #2E2F42);
    width:1440px;
    height:312px;
    justify-content: left;
    flex-shrink: 0;
    padding-top:20px;
    padding-left:20px;
   
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;color: var(--CLOUD, #F4F4FD);
}
.hero-btn{
    display: inline-flex;
    padding: 16px 32px;
    align-items: center;
    gap: 10px;

    border-radius: 4px;
    background: var(--IRIS, #4D5AE5);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    border:1000px;
    justify-content: center;
}
.hero-btn:hover{
    cursor:pointer;
    background-color:var (--ocean);
}
.description1{
  
    color: var(--CLOUD, #F4F4FD);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
    padding-top:20px;
    align-items: left;
    justify-content:left;

}
.work{
    align-items: center;
    margin-left: 200px;
    color: var(--NAVY-BLUE, #2E2F42);
text-align: center;

font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 40px; 
letter-spacing: 0.72px;
text-transform: capitalize;
}
.team{
    display:flex;
    align-items: center;
    margin-left: 200px;
    color: var(--NAVY-BLUE, #2E2F42);
    text-align:center;
    justify-content:space-evenly;

font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 40px;
letter-spacing: 0.72px;
text-transform: capitalize;
}
.team-designation{
    color: var(--NAVY-BLUE, #2E2F42);
text-align: left;
/* Header 3 */
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 120% */
letter-spacing: 0.4px;
margin-left:70px;
}
.title{
    display:flex;
    display:inline-flex;

    justify-content:space-evenly;
    color: var(--NAVY-BLUE, #2E2F42);
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;

    letter-spacing: 0.4px;
    margin-bottom: 20px;

  
}
.title-des{
    display:flex;
    align-items:flex-start;
    text-align: center;
}
.des{
    display:flex;
    display:inline-flex;

    color: var(--SLATE, #434455);
    align-items:flex-end;

    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
    letter-spacing: 0.32px;
}
.btn-button1{
    display:flex;
    color: var(--WHITE, #FFF);
text-align: center;

font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px; 
letter-spacing: 0.64px;

display:inline-flex;
padding: 12px 24px;
align-items: flex-start;

border-radius: 4px;
background: var(--OCEAN, #404BBF);
box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
}







  

   
   